body {
	background-color: #f7eddc;
	font-family: Arial, sans-serif;
}

.felso {
	margin-top: 30px;
}

#tortenet {
	font-weight: bold;
}

.kozep {
	text-align: center;
}

.kepfelirat {
	text-align: center;
	font-style: italic;
}

.galeriakep {
	height: 300px;
	object-fit: cover;
	display: block;
	margin: auto;
}

a {
	font-weight: bold;
}

/* táblázat középre */
table th,
table td:nth-child(1),
table td:nth-child(4) {
	text-align: center;
}

/* keret */
.keret {
	border: 3px solid #7a5c3e !important;
}

/* kártya margó */
.card {
	margin-top: 20px;
	margin-bottom: 20px;
}